
# Mandatory arguments
OPENAI_API_KEY=
ETHERSCAN_API_KEY=
ERC7730_FILE=""


# Optional arguments
ABI_FILE=""
RAW_TXS_FILE=""
LOOKBACK_DAYS=20
COREDAO_API_KEY=

INFURA_RPC_KEY=

#### Snowflake """"""""""""

SNOWFLAKE_ENABLED=true
SNOWFLAKE_USER=
SNOWFLAKE_INSTANCE=
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_ROLE=

SNOWFLAKE_PRIVATE_KEY=

#### CAL_SERVICE_URL
CAL_SERVICE_URL=
CAL_SERVICE_STAGING=

GATING_TOKEN=

### Ethereum app ELF artifact fetching
GITHUB_TOKEN=
